<h2>My Heroes</h2>
<div>
  <label>Hero name:
    <input #heroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
  
</div>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" title="delete hero"
      (click)="delete(hero)">x</button>
  </li>
</ul>





  <!--1*: [(ngModel)] es un sistema bidireccional de angular, en este caso
une la propiedad hero.name al la caja del texto HTML
De esta forma, los datos fluyen en 2 direcciones:
desde la propiedad hero.name a la caja de texto, 
y desde la caja de texto a la propiedad hero.name-->
<!--2*: Hay que poner el condicional *ngIf puesto que 
tiene que haber un elegido por el usuario,
sino no funcionaria -->