<h1>{{title}}</h1>
<nav>

  <a routerLink="/dashboard">Dashboard</a>  <!--Enlace para el dashboard-->
  <a routerLink="/heroes">Heroes</a>

  </nav>
<router-outlet></router-outlet>
<app-messages></app-messages>