<div *ngIf="messageService.messages.length"> <!--Si hay un mensaje-->

    <h2>Messages</h2>
    <button class="clear"
            (click)="messageService.clear()">clear</button> 
            <!--Boton para limpiar-->
    <div *ngFor='let message of messageService.messages'> {{message}} </div>
     <!--El For presenta la lista de mensajes-->
  
  </div>
